<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        width: 60%;
        margin: auto;
        font-family: "Arial", sans-serif;
        color: #333;
      }

      .container {
        margin-bottom: 20px;
      }

      h1 {
        font-size: 2em;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 1.5em;
        border-bottom: 2px solid #333;
        padding-bottom: 5px;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 1.2em;
        margin-bottom: 5px;
      }

      p,
      li {
        font-size: 1em;
        line-height: 1.6;
      }

      .contact-info {
        margin-bottom: 30px;
      }

      .section {
        margin-bottom: 30px;
      }

      .subsection {
        margin-bottom: 20px;
      }

      .skills-list {
        list-style-type: none;
        padding: 0;
      }

      .skills-list li {
        display: inline;
        margin-right: 15px;
      }
    </style>
    <title>Resume</title>
  </head>
  <body>
    <div class="contact-info">
      {% for c in contact %}
      <h1>{{ c.first_name }} {{ c.last_name }}</h1>
      <p>{{ c.phone }}</p>
      <p>{{ c.email }}</p>
      <p>{{ c.address }}</p>
      {% endfor %}
    </div>

    <div class="section">
      <h2>Summary</h2>
      <p>{{ summary }}</p>
    </div>

    {% for section in sections %}
    <div class="section">
      <h2>{{ section.name }}</h2>
      {% for subsection in section.subsections %}
      <div class="subsection">
        <h3>{{ subsection.name }}</h3>
        <p>{{ subsection.organization }}</p>
        <p>{{ subsection.started_at }} - {{ subsection.ended_at }}</p>
        <p>{{ subsection.description }}</p>
      </div>
      {% endfor %}
    </div>
    {% endfor %}

    <div class="section">
      <h2>Skills</h2>
      <ul class="skills-list">
        {% for skill in skills %}
        <li>{{ skill.keywords }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
